---
---
<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title | escape }} · {{ site.title | escape }}</title>
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="icon" href="data:,">
</head>
<body>
  {% include header.html %}
  <main class="k-main">
    <div class="k-wrap">
      {{ content }}
    </div>
  </main>
  {% include footer.html %}
</body>
</html>
